@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #f8f8f8;
  color: #444;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
  
  #app {
    max-width: 400px;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  .add-todo-input,
  .edit-todo-input {
      outline: none;
  }
  
  .add-todo-input:focus,
  .edit-todo-input:focus {
      border: none !important;
      box-shadow: none !important;
  }
  
  button {
    padding: 8px;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
  }
  
  .delete-btn {
    background-color: #e74c3c;
    color: #fff;
    padding: 6px;
    border: none;
    cursor: pointer;

  }
    .bg_task{
      padding: 15px;
      margin: 5px 0;
      border-radius: 0;
      background: #f7f7f7;
    }
  