body {
  font-family: "Noto Sans", sans-serif;
  background: #eee;  /* fallback for old browsers */
/*background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  
background: linear-gradient(to right, #E100FF, #7F00FF);*/
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#app {
  max-width: 600px;
  width: 100%;
  text-align: center;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: #fff;
  border-radius: 27px;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  -o-border-radius: 27px;
}

.input[type="text"] {
  width: 70%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 30px;
box-sizing: border-box;
padding: 10px 30px;
}

.button {
  padding: 8px;
  cursor: pointer;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f3f3    ;
  padding: 15px;
  border-radius: 5px;
  /*box-shadow: var(--bs-box-shadow-sm)!important;*/
}

.delete-btn {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.edit-btn {
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.task-completed {
  text-decoration: line-through;
}

.completed-text {
  color: #27ae60;
  padding-top: 23px;
}

.category{
  background-color: #eee;
  color: ##616161;
  padding: 9px 30px;
  border-radius: 30px;
  margin-top: 10px;
  cursor: pointer;
  opacity: 0.8;
  font-size: 14px;

  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.category-personal{
  background-color: #e3e0ff !important;
  color: #7058ff !important;

}

.category-trabajo{
  background-color: #d3e4fe !important;
  color: #3b8df1 !important;

}

.category-estudio{
  background-color: #fdf0d5 !important;
  color: #f5c252 !important;

}



.selected {
  background-image: linear-gradient(rgb(42, 145, 255) 0%, rgb(13, 110, 253) 100%);
  opacity: 0.9;
  color: #fff;
}

.contenedor-label{
    word-wrap: break-word;
    margin-left: 5px;
}

.tooltip-container {
  position: relative; /*relative: los elementos se posicionan de forma relativa a su posición normal.*/
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: 100px;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.title-container{
  font-size: 30px;
}
.size-icon{
  font-size: 20px;
}
.badge-category{
  color: #7058ff;
  background-color: #e3e0ff;
  margin-left: 90px;
}


.clock {
  font-size: 23px;
  color: #333;
  text-align: center;
  font-weight: bold;
}

.font-fecha{
  color: #616161;
    font-size: 16px;
    font-weight:300;
    opacity: 0.7;
}