body {
  font-family: Arial, sans-serif;
  background: #7F00FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  
background: linear-gradient(to right, #E100FF, #7F00FF);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#app {
  max-width: 400px;
  width: 100%;
  text-align: center;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: #fff;
  border-radius: 15px;
}

.input[type="text"] {
  width: 70%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 30px;
box-sizing: border-box;
padding: 10px 30px;
}

.button {
  padding: 8px;
  cursor: pointer;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.edit-btn {
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.task-completed {
  text-decoration: line-through;
}

.completed-text {
  color: #27ae60;
  padding-top: 23px;
}

.category{
  background-color: #3498db;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
  opacity: 0.8;
}

.selected {
  background-color: #0d6efd;
  opacity: 0.9;
}

.contenedor-label{
  width: 230px;
    word-wrap: break-word;
}
